:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
}

.page {
  min-width: 320px;
  max-width: 1280px;
  font-family: 'Inter', Arial, sans-serif;
  color: var(--basic-white);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
