.intro__survey {
  margin: 0;
  margin-bottom: 33px;
  font-size: 16px;
  line-height: 1.6;
  max-width: 690px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .intro__survey {
    max-width: 720px;
  }  
}

@media screen and (max-width: 425px) {
  .intro__survey {
    max-width: 288px;
  }  
}