.section-margin-botton {
  margin-bottom: 92px;
}

@media screen and (max-width: 768px) {
  .section-margin-botton {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 425px) {
  .section-margin-botton {
    margin-bottom: 64px;
  }
}